*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.container{
  height:100vh;
  width:100%;
  background:#212020 ;
  display:flex;
  justify-content: center;
  align-items: center;
}
.card{
  width:350px;
  height:500px;
  background: #e0d6d5;
}
.nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  
}
.size{
  font-size:15px;
  color:#211d1c;
  cursor:pointer;
  margin: 20px;
}
.size i{
  background-color: white;
  border-radius: 50%;
  padding:10px;
  color:red;
  box-shadow: 0 5px 10px rgba(225,26,26,0,0.22);
}
.pic{
  text-align: center;
}
img{
  border-radius: 50%;
  height:210px;
  width:210px;
  border:8px solid white;
  box-shadow: 0 10px 60px rgba(225,26,26,0,0.29)
  
}
.pic h1{
  font-size:20px;
  font-weight: 400;
  color:#211d1c;
  margin-top:20px;
}
.pic p{
  font-size:14px;
  color: #211d1c;
}
audio{
  width:210px;
  height:45px;
  text-align: center;
  margin-left: 72px;
}
#progress{
  -webkit-appearance: none;
  width:70%;
  height:8px;
  background:#f532a4;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 55px;
  margin-top: 30px;
}
#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  width:25px;
  height:25px;
  background:#f532a4;
  border-radius: 50%;
  border:8px solid white;
  box-shadow: 0 5px 10px rgba(225,26,26,0,0.22);
}
 .play-button{
   display:flex;
   justify-content: center;
   align-items: center;
   margin: 40px;
   gap:30px;
 }
.play-button div{
  width:40px;
  height:40px;
  background:white;
  border-radius: 50%;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgba(225,26,26,0,0.22);
  cursor:pointer;
  color:#f532a4;
}
.play-button div:nth-child(2){
  transform:scale(1.5);
  background:#f53192;
  color:#fff;
}
